<!DOCTYPE html>
<html>
    <head>
        <style>
            table,
            th,
            td{
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
<table style="width:100%">
    <tr>
        <th>Post Date</th>
        <th>Idustry</th>
        <th>Category</th>
        <th>Item Name</th>
        <th>Description</th>
        <th>NIE Item Code</th>
        <th>Manufacture</th>
        <th>U of M</th>
        <th>Qty</th>
    </tr>
    <tr>
        <td>08/02/2021</td>
        <td>Iron supplies</td>
        <td>Pipe_iron</td>
        <td>Car Side mirrors</td>
        <td>FE Manufacturer</td>
        <td>P3000962</td>
        <td>FE Manufacturer CH</td>
        <td>LOT</td>
        <td>5</td>
    </tr>
</table>
    </body>
</html>
